
@import url(https://fonts.googleapis.com/css?family=BenchNine:700);
html {
  font-family: "Avenir Next", Helevetica;
  text-align: center;
  background: linear-gradient(90deg,#c7ecee 50%, #ffb8b8 50%);
}

body {
  width: 100vw;;
  margin: 0 auto;
}

input {

  text-align: center;
  padding: 30px;
  width: 50vw;
  height: 20vh;
  font-size: 100px;
  margin-left: auto;
  margin-right: auto;
  border: 0;
}

input:focus {
  outline: 1px;
}

li {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 35px;
  color:#B68FA2;
  padding: 5px;
  list-style: none;
  font-family: "BenchNine";
  line-height:1.5;
  text-transform:uppercase;
  letter-spacing:2px;
  
  margin: 5px;
}

li:hover {
  text-decoration: line-through;
}

.theList{
  font-size: 20pt;
  margin-left: auto;
  margin-right: 30pt;
  display: inline-block;
  justify-content:center;
  text-align: center;
}